#quiz-container {
  margin: 0 auto;
  width: 600px;
  text-align: center;
}
.question {
  margin: 20px 0;
  font-size: 20px;
}
.answer-input {
  margin: 20px 0;
  font-size: 20px;
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid black;
}
.button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  margin: 20px 5px;
  cursor: pointer;
}
.button:hover {
  background-color: #3e8e41;
}
.score {
  font-size: 30px;
}
